<!DOCTYPE html>
<html lang="en" ng-app="app.modules.app">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="description" content="Slide Cloud Web Client">
    <meta name="author" content="Gabriel Fernández Moral">
    <link rel="icon" href="../../../assets/img/favicon.ico">

    <title>Slide Cloud</title>

    <!-- Bootstrap core CSS -->
    <link href="../../../assets/libs/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="../../../assets/libs/bower_components/bootstrap/dist/css/bootstrap-responsive.min.css">
    <script src="../../../assets/libs/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="../../../assets/libs/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>

    <!-- Bootstrap file style -->
    <script type="text/javascript" src="../../../assets/libs/bootstrap-filestyle-1.2.1/src/bootstrap-filestyle.min.js"> </script>

    <!-- Custom CSS -->
    <link href="../../../assets/css/stylesheet.css" rel="stylesheet">

    <!-- AngularJS -->
    <script src="../../../assets/libs/bower_components/angular/angular.js"></script>

    <!-- ng-resource -->
    <script src="../../../assets/libs/bower_components/angular-resource/angular-resource.min.js"></script>

    <!-- App -->
    <script src="app.js"></script>

    <!-- App modules -->
    <script src="../filesList/filesList.js"></script>
    <script src="../filesList/controllers.js"></script>
    <script src="../filesUploader/filesUploader.js"></script>
    <script src="../filesUploader/controllers.js"></script>
    <script src="../filesUploader/directives.js"></script>
    <script src="../alerts/alerts.js"></script>
    <script src="../alerts/services.js"></script>
    <script src="../filesHandler/filesHandler.js"></script>
    <script src="../filesHandler/services.js"></script>

  </head>

  <body>
    <div>


      <!-- Navbar -->
      <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
          <div class="navbar-header">
            <a class="navbar-brand" href="#">
              <img alt="Brand" src="../../../assets/img/logo32.png">
            </a>
          </div>
          <div class="collapse navbar-collapse navbar-right">
            <button type="button" class="btn btn-default navbar-btn">Log out</button>
            <p class="navbar-text"><a href="#" class="navbar-link">Gabri</a></p>
          </div>
        </div>
      </nav>


      <!-- Files panel -->
      <div ng-controller="filesListController">
        
        <!-- Files list -->
        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
          <div class="panel panel-primary">
            <div class="panel-heading">
              <span>My files</span>
            </div>
            
            <table class="table">
              <thead>
                <tr>
                  <th>File name</th>
                </tr>
              </thead>

              <tbody>
                  <tr ng-repeat="file in files">
                    <td>
                      {{file.name}}
                      <span ng-click="selectFileToDelete(file)" data-toggle="modal" data-whatever=file class="pull-right glyphicon glyphicon-remove delete-button" aria-hidden="true"></span>
                      <a href="{{remoteServer}}{{file.url}}" target="_blank" class="download-link"><span class="pull-right glyphicon glyphicon-download download-button" aria-hidden="true"></span></a>
                    </td>
                  </tr>
              </tbody>
            </table>

            <div class="panel-footer">
              <nav>
                <ul class="pagination">
                  <li>
                    <a href="#" aria-label="Previous">
                      <span aria-hidden="true">&laquo;</span>
                    </a>
                  </li>
                  <li><a href="#">1</a></li>
                  <li><a href="#">2</a></li>
                  <li><a href="#">3</a></li>
                  <li><a href="#">4</a></li>
                  <li><a href="#">5</a></li>
                  <li>
                    <a href="#" aria-label="Next">
                      <span aria-hidden="true">&raquo;</span>
                    </a>
                  </li>
                </ul>
              </nav>
            </div>
          </div>
        </div>
        <!-- Files list -->

        <!-- Modal panel -->
        <div class="modal fade" id="fileDeletionModal">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Warning</h4>
              </div>
              <div class="modal-body">
                <p>Are you sure you want to delete this file?</p>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary" ng-click="deleteFile()">Delete</button>
              </div>
            </div>
          </div>
        </div>
        <!-- Modal panel -->

      </div>
      <!-- Files panel -->

      <!-- Options panel -->
      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 pull-right">
        <div class="panel panel-default">
          <div class="panel-heading">
            <span>Options</span>
          </div>
          <div class="panel-body">

            <form ng-controller="filesUploaderController">
              <input type="file" file-input="files" onchange="angular.element(this).scope().filesChanged(this)" multiple class="filestyle"/>
              <button ng-click="upload()" class="btn btn-default pull-right submitButton">Upload</button>
              <li ng-repeat="file in files">{{file.name}}</li>
            </form>

          </div>
        </div>
      </div>

      <!-- Alerts area -->
      <div id="alertsArea" class="col-lg-12 col-md-12 col-sm-12 col-xs-12"></div>

    </div>
  </body>
</html>