<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="description" content="Your slides app">
    <meta name="author" content="Gabriel Fernández Moral">
    <link rel="icon" href="/images/favicon.ico">
    <title>Slide Cloud</title>

    <!-- Polymer -->
    <script src="bower_components/webcomponentsjs/webcomponents-lite.min.js"></script>

    <link rel="import" href="bower_components/iron-flex-layout/classes/iron-flex-layout.html">
    <link rel="import" href="bower_components/paper-button/paper-button.html">

    <!-- Custom CSS -->
    <link href="/stylesheets/style.css" rel="stylesheet">

  </head>

  <body>

  <div class="layout horizontal wrap">
    <paper-button raised>raised button</paper-button>
    <paper-button raised>raised button</paper-button>
    <paper-button raised>raised button</paper-button>
    <paper-button raised>raised button</paper-button>
    <paper-button raised>raised button</paper-button>
    <paper-button raised>raised button</paper-button>
  </div>  
  
  </body>
</html>
